APS_CLIENT_ID=
APS_CLIENT_SECRET=
LOGIN_PASSPHRASE=

# Optional - defaults to `${APS_CLIENT_ID}-basic-app` if unset
APS_BUCKET=

# Optional - defaults to 8080
PORT=

# Optional - a random secret is generated per process start if unset
# (sessions won't survive a server restart in that case)
SESSION_SECRET=
